h3 {background-color:#e6f2ff;color:#4d2600;font-family:arial;font-size:30px}
h4 {background-color:#eeccff;color:#4d2600;font-family:arial;font-size:30px}
ul {background-color:#ffe6e6;color:#804000;font-family:arial;font-size:15px}
p {color:#dfbf9f;font-family:arial;font-size:18px}
body {background: #000000}
img {border-radius:40%}